<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jp.co.nichiwa_system.nakayamanobuo.test123" >
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.software.leanback"
        android:required="true" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".setting"
            android:label="@string/title_activity_setting" >
        </activity>
        <activity
            android:name=".stock"
            android:label="@string/title_activity_stock" >
        </activity>
        <activity
            android:name=".food"
            android:label="@string/title_activity_food" >
        </activity>
        <activity
            android:name=".popup_1"
            android:label="@string/title_activity_popup_1" >
        </activity>
        <activity
            android:name=".popup_2"
            android:label="@string/title_activity_popup_2" >
        </activity>
        <activity
            android:name=".popup_3"
            android:label="@string/title_activity_popup_3" >
        </activity>
        <activity
            android:name=".popup_4"
            android:label="@string/title_activity_popup_4" >
        </activity>
        <activity
            android:name=".popup_5"
            android:label="@string/title_activity_popup_5" >
        </activity>
        <activity
            android:name=".popup_6"
            android:label="@string/title_activity_popup_6" >
        </activity>
        <activity
            android:name=".popup_7"
            android:label="@string/title_activity_popup_7" >
        </activity>
        <activity
            android:name=".popup_8"
            android:label="@string/title_activity_popup_8" >
        </activity>
        <activity
            android:name=".retorutogohan"
            android:label="@string/title_activity_retorutogohan" >
        </activity>
        <activity
            android:name=".kandume"
            android:label="@string/title_activity_kandume" >
        </activity>
        <activity
            android:name=".kanmen"
            android:label="@string/title_activity_kanmen" >
        </activity>
        <activity
            android:name=".kanpan"
            android:label="@string/title_activity_kanpan" >
        </activity>
        <activity
            android:name=".kandume_syusai"
            android:label="@string/title_activity_kandume_syusai" >
        </activity>
        <activity
            android:name=".retoruto"
            android:label="@string/title_activity_retoruto" >
        </activity>
        <activity
            android:name=".freaze"
            android:label="@string/title_activity_freaze" >
        </activity>
        <activity
            android:name=".mizu"
            android:label="@string/title_activity_mizu" >
        </activity>
        <activity
            android:name=".pokari"
            android:label="@string/title_activity_pokari" >
        </activity>
        <activity
            android:name=".karori"
            android:label="@string/title_activity_karori" >
        </activity>
        <activity
            android:name=".okasi"
            android:label="@string/title_activity_okasi" >
        </activity>
        <activity
            android:name=".konamilk"
            android:label="@string/title_activity_konamilk" >
        </activity>
        <activity
            android:name=".sitagi_c"
            android:icon="@drawable/app_icon_your_company"
            android:label="@string/title_activity_sitagi_c"
            android:logo="@drawable/app_icon_your_company"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".kaityuu"
            android:label="@string/title_activity_kaityuu" >
        </activity>
        <activity
            android:name=".koppu"
            android:label="@string/title_activity_koppu" >
        </activity>
        <activity
            android:name=".utuwa"
            android:label="@string/title_activity_utuwa" >
        </activity>
        <activity
            android:name=".taoru"
            android:label="@string/title_activity_taoru" >
        </activity>
        <activity
            android:name=".hukuro"
            android:label="@string/title_activity_hukuro" >
        </activity>
        <activity
            android:name=".spoon"
            android:label="@string/title_activity_spoon" >
        </activity>
        <activity
            android:name=".hasi"
            android:label="@string/title_activity_hasi" >
        </activity>
        <activity
            android:name=".denti"
            android:label="@string/title_activity_denti" >
        </activity>
        <activity
            android:name=".radio"
            android:label="@string/title_activity_radio" >
        </activity>
        <activity
            android:name=".kankiri"
            android:label="@string/title_activity_kankiri" >
        </activity>
        <activity
            android:name=".mask"
            android:label="@string/title_activity_mask" >
        </activity>
        <activity
            android:name=".juudennki"
            android:label="@string/title_activity_juudennki" >
        </activity>
        <activity
            android:name=".bin"
            android:label="@string/title_activity_bin" >
        </activity>
        <activity
            android:name=".omutu"
            android:label="@string/title_activity_omutu" >
        </activity>
        <activity
            android:name=".rap"
            android:label="@string/title_activity_rap" >
        </activity>
        <activity
            android:name=".nebukuro"
            android:label="@string/title_activity_nebukuro" >
        </activity>
        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>
        <activity android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"/>
    </application>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

</manifest>
